#uno {
    border: 1px solid;
    border-spacing: 0;
    height: 100px;
    width: 210px;
    border-collapse: collapse;
}

td {
    border: solid black;
}

#first {
    text-align: center;
    color: #0003ff;
}

.ein {
    height: 1px;
    width: 70px;
    background-color: #ff00f7;
}

#tres {
    height: 10px;
    color: greenyellow;
    text-align: right;
    vertical-align: top;
    background-color: lightgoldenrodyellow;
}

.zwei {
   color: mediumspringgreen;
    background-color: #fff200;
}

#meow {
    height: 80px;
    width: 210px;
    border-collapse: collapse;
}

#wof {
    height: 40px;
    width: 140px;
    border-collapse: collapse;
    margin: auto;
}

#meow td {
    height: 5px;
    width: 40px;
}

#pur {
    border: 0.5px solid;
    border-spacing: 0;
    text-align: center;
    border-collapse: collapse;
    height: 100px;
    width: 210px;
}



