div.mother {
    position: absolute;
    border: solid black 1px;
    height: 200px;
    width: 200px;
    float: left;
    clear: both;
    z-index: 5
}

div.top_left{
    position: relative;
    background-color: #00980a;
    border: 0 none;
    height: 50%;
    width: 50%;
    float: left;
}

div.top_right{
    position: relative;
    background-color: white;
    border: 0 none;
    height: 50%;
    width: 50%;
    float: right;
}

div.bottom_left{
    position: relative;
    background-color: black;
    border: 0 none;
    height: 50%;
    width: 50%;
    float: left;
}

div.bottom_right{
    position: relative;
    background-color: #b00f0d;
    border: 0 none;
    height: 50%;
    width: 50%;
    float: right;
}

div.father{
    position: relative;
    margin-left: 220px;
    z-index: 3;
}

div.grey {
    border: solid black 1px;
    background-color: #c3b7b7;
    height: 200px;
    width: 400px;
    position: absolute;
}

div.red {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: red;
    height: 160px;
    width: 360px;
}

#brother {
    background-color: blue;
    position: absolute;
    height: 150px;
    width: 120px;
    top: 140px;
    left: 160px;
    z-index: 2;
}

#brother1 {
    background-color: blue;
    position: absolute;
    height: 150px;
    width: 120px;
    top: 140px;
    left: 300px;
    z-index: 4;
}

#brother2 {
    background-color: blue;
    position: absolute;
    height: 150px;
    width: 120px;
    top: 140px;
    left: 440px;
    z-index: 2;
}
